<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="mediachase.ibn.data" type="Mediachase.Ibn.Data.Configuration.MediachaseDataSectionGroup, Mediachase.Ibn.Data">
			<section name="metaClassManager" type="Mediachase.Ibn.Data.Meta.Management.Configuration.MetaClassManagerSection, Mediachase.Ibn.Data"/>
			<section name="metaObject" type="Mediachase.Ibn.Data.Meta.Configuration.MetaObjectSection, Mediachase.Ibn.Data"/>
			<section name="businessObject" type="Mediachase.Ibn.Data.Meta.Configuration.BusinessObjectSection, Mediachase.Ibn.Data"/>
		</sectionGroup>
		<sectionGroup name="mediachase.ibn.xmlTools">
			<section name="fileResolver" type="Mediachase.Ibn.XmlTools.Configuration.FileResolverSection, Mediachase.Ibn.XmlTools"/>
			<section name="xmlBuilder" type="Mediachase.Ibn.XmlTools.Configuration.XmlBuilderSection, Mediachase.Ibn.XmlTools"/>
		</sectionGroup>

	</configSections>

	<appSettings>
		<add key="ConnectionString" value="Data source=S2;Initial catalog=ibn48portal;User ID=dev;Password="/>
	</appSettings>
	
	<mediachase.ibn.xmlTools>
		<fileResolver>
			<providers>
				<add name="Disk" type="Mediachase.Ibn.XmlTools.DiskFileProvider, Mediachase.Ibn.XmlTools" searchDirectoryName="Config"/>
			</providers>

			<modules>
				<add name="Shell"/>
				<add name="MetaDataBase"/>
				<add name="MetaUI"/>
				<add name="MetaUIEntity"/>
				<add name="Administration"/>
				<add name="Library"/>
				<add name="ProjectManagement"/>
				<add name="DocumentManagement"/>
				<add name="HelpDeskManagement"/>
				<add name="ListApp"/>
				<add name="TimeTracking"/>
				<add name="ClientManagement"/>
				<add name="ReportManagement"/>
				<add name="IbnDirectory"/>
			</modules>
		</fileResolver>
	</mediachase.ibn.xmlTools>
	
	<mediachase.ibn.data>
		<metaClassManager>
		</metaClassManager>

		<metaObject maxListObject="1000" useCache="True" useSpOptimization="True">
			<types>
			</types>
			<instances>
			</instances>
		</metaObject>

		<businessObject>
			<services>
				<add name="McChangeDetection" installer="Mediachase.Ibn.Data.Meta.ChangeDetectionServiceInstaller, Mediachase.Ibn.Data" type="Mediachase.Ibn.Data.Meta.ChangeDetectionService, Mediachase.Ibn.Data" activation="OnSave"/>
				<add name="McHistory" installer="Mediachase.Ibn.Data.Meta.HistoryServiceInstaller, Mediachase.Ibn.Data" type="Mediachase.Ibn.Data.Meta.HistoryService, Mediachase.Ibn.Data" activation="OnSave"/>
			</services>
			<builderHandlers>
			</builderHandlers>
		</businessObject>
	</mediachase.ibn.data>
</configuration>