<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="scheduleService" type="Mediachase.Schedule.Service.Configuration.ScheduleServiceSection, ScheduleService"/>
	</configSections>

	<scheduleService>
		<webServices>
			<!--<add url="Url" 
				 credentialDomain="domain"
				 credentialUserName="user"
				 credentialPassword="password"/>-->
		</webServices>
	</scheduleService>

	<appSettings>
		<!-- Push interval in secouds. Default value is 10 secounds. -->
		<!--<add key="Interval" value="60"/>-->
		<!-- Push webservice Path. Default value is "WebServices/SchedulerService.asmx" -->
		<!--<add key="WebServicePath" value="WebServices/SchedulerService.asmx"/>-->
		<!-- Write debug info into event log. Value not null to activate it. -->
		<!--<add key="WriteDebugInfo" value="1"/>-->
	</appSettings>
</configuration>
