<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="Singleton" objectUri="OleDBService" type="Mediachase.Ibn.Service.OleDBHelper, OleDBService"/>
			</service>
			<channels>
				<channel ref="tcp" port="8896"/>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
