<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="mediachase.ibn.data" type="Mediachase.Ibn.Data.Configuration.MediachaseDataSectionGroup, Mediachase.Ibn.Data">
			<section name="metaClassManager" type="Mediachase.Ibn.Data.Meta.Management.Configuration.MetaClassManagerSection, Mediachase.Ibn.Data"/>
			<section name="metaObject" type="Mediachase.Ibn.Data.Meta.Configuration.MetaObjectSection, Mediachase.Ibn.Data"/>
			<section name="businessObject" type="Mediachase.Ibn.Data.Meta.Configuration.BusinessObjectSection, Mediachase.Ibn.Data"/>
		</sectionGroup>

		<sectionGroup name="mediachase.ibn.xmlTools">
			<section name="fileResolver" type="Mediachase.Ibn.XmlTools.Configuration.FileResolverSection, Mediachase.Ibn.XmlTools"/>
			<section name="xmlBuilder" type="Mediachase.Ibn.XmlTools.Configuration.XmlBuilderSection, Mediachase.Ibn.XmlTools"/>
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="SqlCommandTimeout" value="0"/>
		<add key="BinaryBufferSize" value="1048576"/>
	</appSettings>
	
	<mediachase.ibn.data>
		<metaClassManager>
		</metaClassManager>

		<metaObject useCache="False" useSpOptimization="False">
			<types>
				<add name="Role" installer="Mediachase.Ibn.Data.Services.RoleMetaFieldInstaller, Mediachase.Ibn.Data.Services" binder="Mediachase.Ibn.Data.Services.RoleMetaObjectPropertyBinder, Mediachase.Ibn.Data.Services"/>
				<add name="RoleMultiValue" installer="Mediachase.Ibn.Data.Services.RoleMultiValueMetaFieldInstaller, Mediachase.Ibn.Data.Services" binder="Mediachase.Ibn.Data.Services.RoleMultiValueMetaObjectPropertyBinder, Mediachase.Ibn.Data.Services"/>
			</types>
			<instances>
				<!--<add metaClass="TimeTrackingObjectFactory" type="Mediachase.IbnNext.TimeTracking.TimeTrackingObjectFactory, Mediachase.IbnNext.TimeTracking" />-->
				<add metaClass="Principal" type="Mediachase.IbnNext.TimeTracking.Principal, Mediachase.IbnNext.TimeTracking"/>
				<add metaClass="TimeTrackingBlock" type="Mediachase.IbnNext.TimeTracking.TimeTrackingBlock, Mediachase.IbnNext.TimeTracking"/>
				<add metaClass="TimeTrackingEntry" type="Mediachase.IbnNext.TimeTracking.TimeTrackingEntry, Mediachase.IbnNext.TimeTracking"/>
				<add metaClass="TimeTrackingBlockType" type="Mediachase.IbnNext.TimeTracking.TimeTrackingBlockType, Mediachase.IbnNext.TimeTracking"/>
				<add metaClass="TimeTrackingBlockTypeInstance" type="Mediachase.IbnNext.TimeTracking.TimeTrackingBlockTypeInstance, Mediachase.IbnNext.TimeTracking"/>
				<!--<add metaClass="IbnCalendarEvent" type="Mediachase.Ibn.Calendar.IbnCalendarEvent, Mediachase.Ibn.Calendar" />-->
			</instances>
		</metaObject>

		<businessObject>
			<services>
				<add name="McChangeDetection" installer="Mediachase.Ibn.Data.Meta.ChangeDetectionServiceInstaller, Mediachase.Ibn.Data" type="Mediachase.Ibn.Data.Meta.ChangeDetectionService, Mediachase.Ibn.Data" activation="OnSave"/>
				<add name="McHistory" installer="Mediachase.Ibn.Data.Meta.HistoryServiceInstaller, Mediachase.Ibn.Data" type="Mediachase.Ibn.Data.Meta.HistoryService, Mediachase.Ibn.Data" activation="OnSave"/>
				<!--<add name="Forum"
					 installer="Mediachase.IbnNext.Forum.ForumServiceInstaller, Mediachase.IbnNext"
					 type="Mediachase.IbnNext.Forum.ForumService, Mediachase.IbnNext" />-->
				<!--<add name="Directory"
					 installer="Mediachase.IbnNext.Directory.DirectoryServiceInstaller, Mediachase.IbnNext"
					 type="Mediachase.IbnNext.Directory.DirectoryService, Mediachase.IbnNext" />-->
				<add name="McSecurity" installer="Mediachase.Ibn.Data.Services.SecurityServiceInstaller, Mediachase.Ibn.Data.Services" type="Mediachase.Ibn.Data.Services.SecurityService, Mediachase.Ibn.Data.Services" activation="OnSave"/>
				<!--<add name="McBusinessAssignment"
					 installer="Mediachase.IbnNext.Activity.BusinessAssignmentServiceInstaller, Mediachase.IbnNext"
					 type="Mediachase.IbnNext.Activity.BusinessAssignmentService, Mediachase.IbnNext" />
				<add name="McBusinessProcess"
					 installer="Mediachase.IbnNext.Activity.BusinessProcessServiceInstaller, Mediachase.IbnNext"
					 type="Mediachase.IbnNext.Activity.BusinessProcessService, Mediachase.IbnNext" />-->
				<add name="McStateMachine" installer="Mediachase.Ibn.Data.Services.StateMachineServiceInstaller, Mediachase.Ibn.Data.Services" type="Mediachase.Ibn.Data.Services.StateMachineService, Mediachase.Ibn.Data.Services"/>
				<add name="McEventService" installer="Mediachase.Ibn.Data.Services.EventServiceInstaller, Mediachase.Ibn.Data.Services" type="Mediachase.Ibn.Data.Services.EventService, Mediachase.Ibn.Data.Services" activation="OnSave"/>
				<add name="McComment" installer="Mediachase.Ibn.Data.Services.CommentServiceInstaller, Mediachase.Ibn.Data.Services" type="Mediachase.Ibn.Data.Services.CommentService, Mediachase.Ibn.Data.Services"/>
				<add name="McTreeRelation" installer="Mediachase.Ibn.Data.Services.TreeServiceInstaller, Mediachase.Ibn.Data.Services" type="Mediachase.Ibn.Data.Services.TreeService, Mediachase.Ibn.Data.Services"/>
			</services>
			<builderHandlers>
				<!--<add name="Forum" type="Mediachase.IbnNext.Forum.ForumBuilderHandler, Mediachase.IbnNext" />
				<add name="McBusinessAssignment" type="Mediachase.IbnNext.Activity.BusinessAssignmentBuilderHandler, Mediachase.IbnNext" />
				<add name="McBusinessProcess" type="Mediachase.IbnNext.Activity.BusinessProcessBuilderHandler, Mediachase.IbnNext" />-->
				<add name="McStateMachine" type="Mediachase.Ibn.Data.Services.StateMachineBuilderHandler, Mediachase.Ibn.Data.Services"/>
				<!--<add name="McDirectory" type="Mediachase.IbnNext.Directory.DirectoryBuilderHandler, Mediachase.IbnNext" />-->
			</builderHandlers>
		</businessObject>
	</mediachase.ibn.data>

	<mediachase.ibn.xmlTools>
		<fileResolver>
			<providers>
				<add name="Disk"
					type="Mediachase.Ibn.XmlTools.DiskFileProvider, Mediachase.Ibn.XmlTools"
					searchDirectoryName="Config"/>
			</providers>

			<modules>
				<add name="Shell"/>
				<add name="MetaDataBase"/>
				<add name="MetaUI"/>
				<add name="MetaUIEntity"/>
				<add name="Administration"/>
				<add name="Library"/>
				<add name="ProjectManagement"/>
				<add name="DocumentManagement"/>
				<add name="HelpDeskManagement"/>
				<add name="ListApp"/>
				<add name="TimeTracking"/>
				<add name="ClientManagement"/>
				<add name="ReportManagement"/>
				<add name="IbnDirectory" />
			</modules>
		</fileResolver>
	</mediachase.ibn.xmlTools>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
