<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="mediachase.fileUploader" type="Mediachase.FileUploader.Configuration.MediachaseFileUploaderSectionGroup, Mediachase.FileUploader">
			<section name="fileUploaderContext" type="Mediachase.FileUploader.Configuration.FileUploaderContextSection, Mediachase.FileUploader"/>
			<section name="tempFileStorage" type="Mediachase.FileUploader.Web.Configuration.TempFileStorageSection, Mediachase.FileUploader"/>
			<section name="uploadProgress" type="Mediachase.FileUploader.Web.Configuration.UploadProgressSection, Mediachase.FileUploader"/>
			<section name="fileUploadControl" type="Mediachase.FileUploader.Web.Configuration.FileUploadControlSection, Mediachase.FileUploader"/>
		</sectionGroup>
		<sectionGroup name="mediachase.ibn.data" type="Mediachase.Ibn.Data.Configuration.MediachaseDataSectionGroup, Mediachase.Ibn.Data">
			<section name="metaClassManager" type="Mediachase.Ibn.Data.Meta.Management.Configuration.MetaClassManagerSection, Mediachase.Ibn.Data"/>
			<section name="metaObject" type="Mediachase.Ibn.Data.Meta.Configuration.MetaObjectSection, Mediachase.Ibn.Data"/>
			<section name="businessObject" type="Mediachase.Ibn.Data.Meta.Configuration.BusinessObjectSection, Mediachase.Ibn.Data"/>
		</sectionGroup>
	</configSections>
	
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>

	<appSettings>
		<add key="ConnectionString" value="Data source=s2;Initial catalog=ibn48asp;User ID=dev;Password="/>
	</appSettings>

	<mediachase.fileUploader>
		<fileUploaderContext/>
		<tempFileStorage timeout="60">
			<providers>
				<add name="McLocalDiskTempFileStorageProvider" type="Mediachase.FileUploader.Web.LocalDiskTempFileStorageProvider, Mediachase.FileUploader" description="" tempStoragePath="%TEMP%" />
			</providers>
		</tempFileStorage>

		<uploadProgress timeout="60">
			<providers>
				<add name="McInProcessProgressStateProvider" type="Mediachase.FileUploader.Web.InProcessUploadProgressProvider, Mediachase.FileUploader" description="" />
			</providers>
		</uploadProgress>
	</mediachase.fileUploader>

	<mediachase.ibn.data>
		<metaObject maxListObject="1000" useCache="True" useSpOptimization="False">
			<types>
				<add name="Role" installer="Mediachase.Ibn.Data.Services.RoleMetaFieldInstaller, Mediachase.Ibn.Data.Services" binder="Mediachase.Ibn.Data.Services.RoleMetaObjectPropertyBinder, Mediachase.Ibn.Data.Services"/>
				<add name="RoleMultiValue" installer="Mediachase.Ibn.Data.Services.RoleMultiValueMetaFieldInstaller, Mediachase.Ibn.Data.Services" binder="Mediachase.Ibn.Data.Services.RoleMultiValueMetaObjectPropertyBinder, Mediachase.Ibn.Data.Services"/>
			</types>
		</metaObject>

		<businessObject>
			<services>
				<add name="McChangeDetection" installer="Mediachase.Ibn.Data.Meta.ChangeDetectionServiceInstaller, Mediachase.Ibn.Data" type="Mediachase.Ibn.Data.Meta.ChangeDetectionService, Mediachase.Ibn.Data" activation="OnSave"/>
				<add name="McHistory" installer="Mediachase.Ibn.Data.Meta.HistoryServiceInstaller, Mediachase.Ibn.Data" type="Mediachase.Ibn.Data.Meta.HistoryService, Mediachase.Ibn.Data" activation="OnSave"/>
			</services>
		</businessObject>
	</mediachase.ibn.data>

	<system.web>
		<httpRuntime executionTimeout="1800" maxRequestLength="600000"/>
		<httpModules>
			<add name="Mediachase.FileUploader.McHttpModule" type="Mediachase.FileUploader.McHttpModule, Mediachase.FileUploader"/>
		</httpModules>
		<httpHandlers>
		</httpHandlers>
		<identity impersonate="true"/>
		<compilation defaultLanguage="c#" debug="true"/>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<authorization>
			<deny users="?"/>
		</authorization>

		<trace enabled="false"/>
		<sessionState mode="InProc"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<pages validateRequest="false" enableEventValidation="false"/>
		<xhtmlConformance mode="Strict"/>
	</system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
			</files>
		</defaultDocument>
		<modules>
			<add name="Mediachase.FileUploader.McHttpModule" type="Mediachase.FileUploader.McHttpModule, Mediachase.FileUploader" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>

	<location path="Email">
		<system.web>
			<authorization>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Install">
		<system.web>
			<authorization>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Images">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Layouts/images">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
